
.card-car-container {  
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 20px;  
}

.car-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 21px 0 10px 0;
}

.card-car-text-container { 
  margin-left: 22px;

  .car-card-text {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;  
    margin-right: 21px;
    color: #585858;
  }
}

.btn-comprar-carro {
  width: 258px;
  height: 40px;
  margin: 38px 20px 15px 20px;
}

